:root{
    --primary-text-color: #FCFCFC; 
    --title-text-color:#212121;
    --accent-color: #212121;
    --active-link-color:#F8D24E;
    --primary-bg-color: #fffffF;
    --bg-color:#84A178;
    --button-bg-color:#F5F4FA;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Montserrat, Seymour One Book, Inter, DM Sans ;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
section{
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

.hero{
  background-color: #84A178;
  background-image: url(../img/много\ мороженок\ 1.png), url(../img/desktop.png), url(../img/Крапки.png);
  background-repeat: no-repeat;
  background-position: left 16px bottom 65px, right 92px bottom 0px, left 0 bottom 0;
  height: 664px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.hero-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.main-nav{
  display: flex;
  align-items: center;
  
}
.logo{
  margin-right: 308px;
  width: 60px;
  height: 65px;
}

.site-navigation{
  display: flex;
  align-items: center;
}
.site-navigation .item-nav:not(:last-child){
  margin-right: 28px;
}
.item-nav:nth-child(3){
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.site-nav{
color: #FCFCFC;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.site-nav:hover{
  color: #F8D24E;
}
.site-nav:focus{
  color: #F8D24E;
}

.button-order{
  display: flex;
  justify-content: center;
    align-items: center;
  width: 152px;
  height: 42px;
  border: 0;
  border-radius: 10px;
  background-color: #F8D24E;
  color: #000;
  fill: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-right{
  display: block;
  border: 1px solid #0000;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  
  
}

.button-order:focus{
  background-color: #0A8817;
  color: #fffffF;
  fill: #fffffF;
}
.button-order:hover{
  background-color: #0A8817;
}
.button-order:disabled{
  background-color: #ABABAB;
  color: #000;
}

.made{
  width: 367px;
  margin-bottom: 28px;
  color: #FCFCFC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Seymour One;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.52px;
  text-transform: uppercase;
}
.button-product{
  display: flex;
    justify-content: center;
    align-items: center;
  cursor: pointer;
  width: 134px;
  height: 42px;
  margin-right: 12px;
  border-radius: 10px;
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; 
  border: 2px solid #F8D24E;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-product:hover{
  border-color: #0A8817;
}
.button-product:focus{
  
  border-color: #0A8817;
  color: #FCFCFC;
  background-color: #84A178;
}
.button-product:disabled{
  border-color: #ABABAB;
}

.list-item{
  display: flex;
}
.item-link:first-child{
  margin-right: 12px;
}
.button-how{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 134px;
  height: 42px;
  color: #F8D24E;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline ;
  border: none;
  background-color: #84A178;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-how:hover{
  color: #0A8817;
}
.button-how:focus{
  color: #FCFCFC;
}
.button-how:disabled{
  color: #ABABAB;
}
 
.dots{
  
  width: 1200px;
  height: 383px;
  left: 0;
  right: 5px;
}
.icecream{
  display:flex;
  justify-content: space-between;
}
.cafe{
  display: flex;
  justify-content: flex-end;
  font-family: Montserrat;
    font-size: 46px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 0.04em;
    color: #131313;
}
.filies{
  display: flex;
    justify-content: flex-end;
  font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #FCFCFC;
}
.Indulge{
  display: flex;
}
.scoop{
  display: block;
  position: relative;
  left: 245px;
  top: 120px;
  width: 200px;
  height: 80px;
  font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fffffF;
}
.more-white{
  display: flex;
  justify-content: center;
  background-color: #84A178;
  border: none;
  margin-top: 24px;
  padding-left: 2px;
  cursor: pointer;
}

.arrow-white{
  fill: #fffffF;
  width: 40px;
  height: 16px;
}


.product{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/Мороженое\ фон.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1051px;
}
.natural{
  margin-right: auto;
  margin-left: auto;
  width: 329px;
  font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    
}
.products{
  font-family: Seymour One;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
   
}

.offers{
  display:flex;
  position: relative;
  top: 315px;
}

.item-offers{
  position: relative;
}

.item-offers:not(:last-child){
  margin-right: 29px;
}
.card-sumb{
  position: absolute;
  left: 34px;
  top: -185px;
  width: 302px;
  height: 318px;
  background-color: #AEC6A5;
  background-size: cover;
  overflow:hidden;
  border-radius: 50%;
  box-shadow: 0px 8px 30px 0px #0A881740;
   
}
.card-sumb::after{
 content: ""; 
 display: block;
 height: 302px;
 width: 302px;
 position: absolute;
 bottom: 16px;

}
.icecream::after{
  background-image: url(../img/kelsey-curtis-G5ZenftPPOA-unsplash\ 2.svg);
  
}
.coffee::after{
  background-image: url(../img/pariwat-pannium-0_qbeF_0zn8-unsplash\ 1.png);
}

.milkshakes::after{
  background-image: url(../img/victor-rutka-4FujjkcI40g-unsplash\ 1.png);
}

.card-description{
  width: 370px;
  padding: 165px 63px 60px 61px;
  background-color: #AEC6A5;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px #D414431A;

}

 
.card-title{
  font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    text-transform:uppercase;
    margin-bottom: 66px;
}
.card-text{
  width: 246px;
  height: 142px;
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    margin-bottom: 50px;
    
}

.more{
  display: flex;
  border: none;
  background-color: #AEC6A5;
  width: 50px;
  height: 26px;
  fill: #000;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.more-arrow {
  display: block;
  width: 40px;
  height: 16px;
}

/* tradition */

.tradition{
  background-color: #84A178;
  padding-top: 60px;
  padding-bottom: 178px;
}
.title-tradition{
  width: 481px;
  text-transform: uppercase;
  font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FCFCFC;
    margin-right: auto;
    margin-left: auto;
}
.how{
  font-family: Seymour One;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FCFCFC;
}
.cow{
display: flex;

}
.card-tradition{
  margin-top: 82px;
  width: 491px;
  height: 529px;
  background-color: #F8D24E;
  background-image: url(../img/cow.png.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 0px 40px;
}

.list-tradition{
  width: 463px;
  margin-left: 109px;
  margin-top: 172px;
}
.item-tradition:not(:last-child){
  margin-bottom: 8px;
}

.button-tradition{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  width: 164px;
  height: 42px;
  background-color: #F8D24E;
  font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin-top: 54px;
    margin-left: 109px;
    fill: #000;
    cursor: pointer;
    transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-tradition:focus {
  background-color: #0A8817;
  color: #fffffF;
  fill: #fffffF;
}

.button-tradition:hover {
  background-color: #0A8817;
}

.button-tradition:disabled {
  background-color: #ABABAB;
  color: #000;
}


/* advantages */

.advantages-title{
  visibility: hidden;
}
.list-advantages{
  margin-top: 60px;
  display: flex;
}
.item-advantages{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 368px;
  height: 225px;
}
.item-advantages:not(:last-child){
  margin-right: 32px;
}
.advantages{
  display: flex;
  justify-content: center;
    align-items: center;
  background-color: #F8D24E;
  fill: #131313;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.weigth::after{

    content: "";
    background-image: url(../img/weight.png);
    width: 36px;
    height: 36px;

}
.cow-mini::after {
  content: "";
  background-image: url(../img/cow-mini.png);
  width: 36px;
  height: 36px;

}
.ice::after{
content: "";
  background-image: url(../img/ice\ crema.png);
  width: 36px;
  height: 36px;
}

.title-advantages{
  font-family: Montserrat;
    font-size: 58px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FCFCFC;
    margin-bottom: 12px;
}
.text-advantages{
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FCFCFC;
}

/* reviews */

.reviews{
  position: relative;
  background-image: url(../img/Мороженое\ фон.png);
  background-size: cover;
  padding-bottom: 228px;
  height: 1053px;

}
.reviews-slide{
  width: 1013px;
  height: 422px;
  border-radius: 22px;
  background-image: url(../img/brooke-lark-8beTH4VkhLI-unsplash\ 1\ \(1\).jpg);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 98px;
  
}

.reviews-card{
margin-right: auto;
margin-left: auto;
margin-top: 60px;

}
.reviews-foto{
  width: 85px;
  height: 85px;
  border-radius: 50px;
  background-image: url(../img/pexels-elias-de-carvalho-1375849\ 1.png);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  

}
.reviews-text{
  display: flex;
  align-items: center;
  width: 968px;
  height: 138px;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;
  background-color:#84A178 ;
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: center;
    color:#FCFCFC ;
}
.reviews-name{
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
}
.list-reviews{
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 72px;
  display: flex;
}
.svg-reviews{
  width: 12px;
  height: 12px;
  fill: #D9D9D9;
}
.svg-reviews:active{
  fill: #84A178;
}
.item-reviews:not(:last-child){
  margin-right: 18px;
}

/* FOOTER */
.footer{
background-color: #84A178;
width: 1200px;
margin-right: auto;
margin-left: auto;
}

.container-footer{
  padding: 16px;
  height: 862px;
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-adresses{
  display: flex;
  position: absolute;
  top: -148px;
  
}

.item-adresses{
 width: 368px;
 height: 524px;
 border-radius: 24px;
 background-color: #FFFFFF;
 box-shadow: 0px 8px 30px 0px #D414431A;
 display: block;
 padding: 40px;
}
.item-adresses:not(:last-child){
  margin-right: 32px;
}

.list-city{
  margin-bottom: 64px;
}
.item-city:nth-child(3){
  margin-bottom: 12px;
}



.title-type{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 30px;
  border-radius: 6px;
  background-color: #F8D24E;
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    margin-bottom: 32px;
}

.title-type-food{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 30px;
    border-radius: 6px;
    background-color: #F8D24E;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    margin-bottom: 32px;
}

.name-city{
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #131313;
    margin-bottom: 8px;
}
.text-city{
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #D6936D;
    margin-bottom: 64px;
}
.title-city{
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #131313;
}
.time-city{
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #ABABAB;
}

.contcacts{
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #131313;
}

.list-locations{
  display: flex;
  position: absolute;
  left: 50%;
  transform:translate(-50%) ;
  top: 458px;

}
.link-location:not(:last-child){
  margin-right: 16px;
}


.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background-color: #F8D24E;
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.location:hover {
  background-color: #0A8817;

}

.location:focus {
  color: #FFFFFF;
  fill: #fffffF;
}

.location:disabled {
  background-color: #ABABAB;
}

.franchise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 42px;
  border-radius: 10px;
  border: 2px solid #F8D24E;
  background-color: #84A178;
  font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.franchise:hover {
  border-color: #0A8817;
}

.franchise:focus {
  color: #FFFFFF;
  fill: #fffffF;
}

.franchise:disabled {
  border-color: #ABABAB;
}

.footer-home {
  width: 1168px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 104px;
}

.footer-home::after {
  position: absolute;
  bottom: -60px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.footer-title {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 504px;
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.footer-span {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  justify-content: flex-end;
}

.footr-item {
  width: 34px;
  height: 34px;
}

.footer-item:not(:last-child) {
  margin-right: 30px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  border: none;
  background-color: #F8D24E;
  fill: #84A178;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: #FCFCFC;

}

.footer-social {
  width: 20px;
  height: 20px;
}

.footer-ph{
  color: #131313;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}

.footer-phone {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}

.footer-p {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 12px;
  color: #7A7A7A;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.24px;
}

/* MODAL */

/* buy */

.modal-buy{
  display: block;
  position: relative;
  width: 568px;
  height: 644px;
  padding: 32px 54px;
  background-color:#FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}
.buy{
  font-family: Seymour One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
    margin-bottom: 40px;
    
}
.buy-list{
  display: flex;
}
.buy-item{
  display: block;

}
.buy-item:not(:last-child){
  margin-right: 32px;
}

.buy-description {
  position: relative;
  top: 66px;
  width: 132px;
  height: 135px;
  border-radius: 15px;
  border: 2px solid #96AF8C;
  
}
.buy-sumb{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 59px;
  width: 132px;
  height: 139px;
  background-color: #9CBE8FB2;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 8px 30px 0px #0A881740;
  background-repeat: no-repeat;
  
}
.buy-sumb::after{
  content: "";
  display: block;
  width: 132px;
  height: 132px;
  position: absolute;
  bottom: 7px;
  
}
.cream{
  background-image: url(../img/kelsey-curtis-G5ZenftPPOA-unsplash\ 2\ \(1\).png);
}
.cofe{
  background-image: url(../img/ice-coffee.png);
}
.milk{
  background-image: url(../img/victor-rutka-4FujjkcI40g-unsplash\ 1\ \(1\).png);
}

.buy-title{
  display: block;
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    text-transform: uppercase;
}

.form-fild{
  position: relative;
  margin-bottom: 14px;
  
}

.form-order{
  display: flex;
  width: 368px;
  flex-direction: column;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%);
}
label {
  position: absolute;
  top: 11px;
  left: 16px;
  margin: 0;
  display: flex;
}
.label-text{
  
  font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #131313;
    
}

.form-input{
  width: 100%;
  padding-left: 16px;
  border: 1px solid #84A178;
    border-radius: 10px;
    height: 42px;
    outline: 0;
    outline-offset: 0;
    transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .label-order,
.form-input:not(:placeholder-shown) + .label-order{
  transform: translateY(-27px);
}

textarea{
  resize: none;
  width: 100%;
  margin: 0;
  border: 1px solid #84A178;
  border-radius: 10px;
  height: 84px;
  outline: 0;
  outline-offset: 0;
  
}
.textarea{
  margin-bottom: 32px;
}
.terea:focus + .label-order,
.terea:not(:placeholder-shown) + .label-order{
 transform: translateY(-27px);
}
.terea{
  height: 84px;
  appearance: none;
  padding-left: 16px;  
  padding-top: 11px;
}
.sub{
  width: 152px;
  height: 42px;
  background-color: #F8D24E;
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    cursor: pointer;
    transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub:hover{
  background-color: #0A8817;
}
.sub:focus{
  background-color: #0A8817;
  color: #fffffF;
}
.sub:disabled{
  background-color: #ABABAB;
}
.button-close{
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  fill: #000000;
  padding: 0;
  border: 0;
  background-color: #FCFCFC;
  cursor: pointer;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover, .button-close:focus{
  fill: #0A8817;
}
.close{
  width: 13px;
  height: 13px;
}

/* modal-chololate */

.modal-chololate{
  position: relative;
  width: 568px;
  height: 996px;
  background-color: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  padding: 32px 40px;
}
.choko{
  font-family: Seymour One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
}
.choko-creame{
  position: absolute;
  left: 50%;
  top: 84px;
  transform: translate(-50%);
 background-color: #0A881740;
  display: block;
  width: 132px;
  height: 139px;
  box-shadow:0px 8px 30px 0px #0A881740 ;
  border-radius: 50%;
  
}
.choko-creame::after{
   content: "";
    width: 132px;
    height: 132px;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    background-image: url(../img/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}

/* elements */
.element{
  position: absolute;
    top: 247px;
    left: 50%;
    transform: translate(-50%);
    width: 320px;
    height: 90px;
}
.elements-list{
  display: flex;
  
}
.elements-item{
 width: 65px;
 height: 90px;
}
.elements-item:not(:last-child){
  margin-right: 20px;
}
.elements-description{
  position: absolute;
  width: 65px;
  height: 90px;
  border: 2px solid #9CBE8F;
  border-radius: 40px;
}
.elements-sumb{
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%);
 border: none;
 border-radius: 50%;
width: 53px;
height: 53px;
box-shadow: 0px 6px 20px 0px #0A881740;
background-color: #9CBE8F;

}
.el-text{
  position: absolute;
  top: 12px;
    left: 0;
    bottom: 0;
    right: 0;
  font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
}
.elements-text{
  position: absolute;
  bottom: 15px;
  left: 19px;
  font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
   color: #131313;
}