.cow {
    display: block;
    margin-top: 32px;

    @media screen and (min-width: 768px) {
         margin-top: 72px;
         display: flex;
    
        }

}

.card-tradition {
    width: 280px;
    height: 300px;
    background-color: #F8D24E;
    background-image: url(../img/mobail/michael-martinelli-_nLlvmclDkc-unsplash\ 1.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: 0px 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
            width: 330px;
            height: 356px;
            background-image: url(../img/tablet/michael-martinelli-_nLlvmclDkc-unsplash\ 1.png);
    
        }
    @media screen and (min-width: 1200px) {
          width: 491px;
          height: 529px;
          background-image: url(../img/cow.png.png);
    
        }
}

.list-tradition {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
   

    @media screen and (min-width: 768px) {
            width: 334px;
            font-size: 12px;
            line-height: 21px;
            margin-left: 38px;
                    
    
        }
        @media screen and (min-width: 1200px) {
            width: 463px;
            margin-left: 109px;
            margin-top: 172px;
    
        }
}

.item-tradition:not(:last-child) {
    margin-bottom: 8px;
}

.text-tradition{
font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--primary-text-color);

    &__ice{
        text-align: center;
        font-size: 12px;
        line-height: 21px;

        @media screen and (min-width: 768px) {
                text-align: left;
                
            }
        
            @media screen and (min-width: 1200px) {
        
                font-size: 16px;
                line-height: 28px;
        
            }
    }

    @media screen and (min-width: 768px) {
            text-align: left;
            font-size: 12px;
            line-height: 21px;
        }
    
        @media screen and (min-width: 1200px) {
            
            font-size: 16px;
            line-height: 28px;
    
        }
}