.container {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width:1164px) {
        padding-left: 16px;
        padding-right: 16px;
    }

}
.container-footer {
    padding: 16px;
    height: 862px;
    position: relative;
}