/* buy */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    
   
}

.backdrop{
    position: fixed;
    top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2F303A66;
        z-index: 10000;
}
form {
    position: relative;
    padding: 29px 28px;
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    @media screen and (min-width:768px) {
        padding: 32px 54px;
    }
}

.modal-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 991px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @media screen and (min-width:768px) {
    justify-content: center;
     width: 512px;
     height: 644px;
        
    }
    
}



.modal-tytel {
    font-family: Seymour One;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
    margin-bottom: 23px;

    @media screen and (min-width:768px) {
        margin-bottom: 40px;
    }

}

.buy-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 95px;
    @media screen and (min-width:768px){
       flex-direction: row;
       justify-content: center;
       margin-bottom: 103px;
    }
    
}

.buy-item {
    display: block;
    width: 100%;
    height: 100%;
    

}

.buy-item:not(:last-child) {
    margin-bottom: 80px;
    @media screen and (min-width:768px) {
        margin-right: 32px;
        margin-bottom: 0;
        }
}

.buy-description {
    position: relative;
    top: 66px;
    width: 132px;
    height: 135px;
    border-radius: 15px;

    // @media screen and (min-width:768px) {
    //     height: 198px;
        
    // }
    

    &.crea{
     border: 2px solid #96AF8C;
    }

    &.cof{
        border: 2px solid #EFD478;
        background-color: #EFD478;
    }

    &.mi{
        border: 2px solid #D6936D;
    }

}

.buy-sumb {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 59px;
    width: 132px;
    height: 139px;
    overflow: hidden;
    border-radius: 50%;
    
    background-repeat: no-repeat;

    &.cream{
      background-color: #9CBE8FB2;
      box-shadow: 0px 8px 30px 0px #0A881740;
    }

    &.cofe{
        background-color: #EFD478;
        box-shadow: 0px 8px 30px 0px #99721740;
    }

        &.mil {
            background-color: #D6936D;
            
        }

}

.buy-sumb::after {
    content: "";
    display: block;
    width: 132px;
    height: 132px;
    position: absolute;
    bottom: 7px;

}

.cream {
    background-image: url(../img/modal/kelsey-curtis-G5ZenftPPOA-unsplash\ 2.png);
}

.cofe {
    background-image: url(../img/modal/pariwat-pannium-0_qbeF_0zn8-unsplash\ 1\ \(1\).png);
}

.mil {
    background-image: url(../img/modal/victor-rutka-4FujjkcI40g-unsplash\ 1\ \(1\).png);
}

.buy-title {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
    text-transform: uppercase;
}

.form-fild {
    position: relative;
    margin-bottom: 14px;

}

.form-order {
    display: flex;
    width: 100%;
    flex-direction: column;
    bottom: 32px;
}

label {
    position: absolute;
    top: 11px;
    left: 16px;
    margin: 0;
    display: flex;
}

.label-text {

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #131313;

}

.form-input {
    width: 100%;
    // padding-left: 16px;
    border: 1px solid #84A178;
    border-radius: 10px;
    height: 42px;
    outline: 0;
    outline-offset: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.label-order,
.form-input:not(:placeholder-shown)+.label-order {
    transform: translateY(-27px);
}

textarea {
    resize: none;
    width: 100%;
    margin: 0;
    border: 1px solid #84A178;
    border-radius: 10px;
    height: 84px;
    outline: 0;
    outline-offset: 0;

}

.textarea {
    margin-bottom: 32px;
}

.terea:focus+.label-order,
.terea:not(:placeholder-shown)+.label-order {
    transform: translateY(-27px);
}

.terea {
    height: 84px;
    appearance: none;
    // padding-left: 16px;
    // padding-top: 11px;
}

/* modal-chololate */

.modal-chololate {
    position: relative;
    width: 100%;
    height: 996px;

    @media screen and (min-width:768px) {
        width: 568px;
    }

}

.tytel-choko{
    width: 140px;
    margin-right: auto;
    margin-left: auto;
    font-family: Seymour One;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #131313;
        margin-bottom: 23px;
    
        @media screen and (min-width:768px) {
            width: 273px;
            margin-bottom: 40px;
        }
}

.choko-creame {
    position: relative;
    left: 50%;
    // top: 84px;
    transform: translate(-50%);
    background-color: #0A881740;
    display: block;
    width: 132px;
    height: 139px;
    box-shadow: 0px 8px 30px 0px #0A881740;
    border-radius: 50%;

}

.choko-creame::after {
    content: "";
    width: 132px;
    height: 132px;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    background-image: url(../img/Ellipse\ 67.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* elements */
.modal-ingridient{
    display: block;
    width: 280px;

    @media screen and (min-width:768px) {
        width: 568px;
    }
}

.element {
    top: 247px;
    width: 100%;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 22px;
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        width: 320px;
        height: 90px;
    }
}

.elements-list {
    display: flex;

}

.elements-item {

    width: 53px;
    height: 72px;

    @media screen and (min-width:768px) {
            width: 65px;
            height: 90px;
        }
}

.elements-item:not(:last-child) {
    margin-right: 20px;
}

.elements-description {
    position: absolute;
    width: 65px;
    height: 90px;
    border: 2px solid #9CBE8F;
    border-radius: 40px;
}

.elements-sumb {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    box-shadow: 0px 6px 20px 0px #0A881740;
    background-color: #9CBE8F;

}

.el-text {
    position: absolute;
    top: 12px;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
}

.elements-text {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
}

/* Ingredients-list */

.Ingred {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}

.Ingred-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #131313;
    margin-bottom: 24px;
}

.Ingredients-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 205px;

}

.Ingredients-item {
    display: flex;
    flex-direction: column;

}

.Ingredients-item:not(:last-child) {
    margin-bottom: 11px;
}

.Ingredients-box {
    display: flex;
    justify-content: space-between;

}

.Ingredients-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;

}

.Ingredients-numbers {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #131313;
}


/* how */

.modal-how {
    position: relative;
    display: block;
    width: 220px;
    height: 393px;

    @media screen and (min-width:768px) {
        width: 569px;
    }
}

.video {
    display: block;
    width: 100%;
    height: 205px;
    background-image: url(../img/Vector.png), url(../img/Rectangle\ 27.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 32px;
}

.lorem {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #131313;

    @media screen and (min-width:768px) {
             font-size: 16px;
             line-height: 22px;
        }
}

   // modal-mape//

   .modal-mape{
    position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 220px;
        height: 303px;
    
        @media screen and (min-width:768px) {
            width: 569px;
            height: 449px;
        }
   }

   .mape{
    display: block;
        width: 224px;
        height: 199px;
        background-image: url(../img/modal/Rectangle\ 27.jpg);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 32px;

        @media screen and (min-width:768px) {
            width: 448px;
            height: 260px;
         background-image: url(/img/modal/Rectangle\ 27@2x.png);
        }
   }