.site-nav {
    font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--link-color);

        &:hover, &:focus {
                color: var(--active-link-color);
            }
}