:root {
    --primary-text-color: #FCFCFC;
    --title-text-color: #FCFCFC;
    --text-color:#ffff;
    --link-color: #fcfcfc;
    --accent-color: #000000;
    --content-color: #131313;
    --active-link-color: #F8D24E;
    --primary-bg-color: #fffffF;
    --bg-color: #84A178;
    --icon-fill-color: #84A178;
    --bt-bg-color:#0A8817;
    --disabled:#ABABAB;
    --card-set-gap: 30px;
    --time-transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}